<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "meta.html" . }}
</head>

<body>
<header>
{{ partial "header.html" . }}
</header>

<div id='main' class="container">
{{ block "main" . }}
{{ end }}
</div>

<!-- Footers -->
{{ if not .Params.hide_footer }}{{ partial "footer.html" . }}{{ end }}

<!-- Bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

{{ if .Params.use_math }}
<script>
MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
        fontCache: 'global'
    }
};
</script>
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
{{ end}}
</body>
</html>